<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.epoch.loan.workshop.common.dao.mysql.LoanTimingDao">
    <insert id="addTiming">
        INSERT INTO loan_timing(`name`, `time`, `params`, `status`, `update_time`, `type`,
        `class_path`) VALUES (#{remindTimingEntity.name}, #{remindTimingEntity.time}, #{remindTimingEntity.params},
        #{remindTimingEntity.status}, #{remindTimingEntity.updateTime}, #{remindTimingEntity.type},
        #{remindTimingEntity.classPath});
    </insert>
    <update id="updateTiming">
        UPDATE loan_timing SET `time`=#{remindTimingEntity.time}, `params`=#{remindTimingEntity.params},
        `status`=#{remindTimingEntity.status}, `update_time`=#{remindTimingEntity.updateTime},
        `type`=#{remindTimingEntity.type}, `class_path`=#{remindTimingEntity.classPath} WHERE
        `name`=#{remindTimingEntity.name}
    </update>
    <update id="updateTimingLastRunTime">
        UPDATE loan_timing SET `last_run_time`=#{time} WHERE `name`=#{name}
    </update>
    <delete id="removeTiming">
        DELETE FROM loan_timing WHERE type=#{type} AND name=#{name}
    </delete>
    <select id="findTimingByType" resultType="com.epoch.loan.workshop.common.entity.mysql.LoanTimingEntity">
        SELECT * FROM loan_timing WHERE status=1 AND type=#{type}
    </select>
    <select id="findTiming" resultType="com.epoch.loan.workshop.common.entity.mysql.LoanTimingEntity">
        SELECT * FROM loan_timing WHERE status=1
    </select>
    <select id="existTimingByName" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM loan_timing WHERE name=#{name}
    </select>
    <select id="findTimingParams" resultType="java.lang.String">
        SELECT params FROM loan_timing WHERE name=#{name}
    </select>
    <select id="findTimingByNameType" resultType="com.epoch.loan.workshop.common.entity.mysql.LoanTimingEntity">
        SELECT * FROM loan_timing WHERE status=1 AND type=#{type} AND name=#{name} LIMIT 0,1
    </select>
</mapper>