<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.epoch.loan.workshop.common.dao.mysql.LoanProductDao">

    <select id="findProduct" resultType="com.epoch.loan.workshop.common.entity.mysql.LoanProductEntity">
        SELECT * FROM loan_product WHERE id=#{id} LIMIT 0,1
    </select>
    <select id="findAll" resultType="com.epoch.loan.workshop.common.entity.mysql.LoanProductEntity">
        SELECT * FROM loan_product
    </select>
</mapper>