<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.epoch.loan.workshop.common.dao.mysql.LoanOrderDao">
    <insert id="insertOrder">
        INSERT INTO `loan_order`(
        `id`,
        `user_id`,
        `product_id`,
        `bank_card_id`,
        `user_channel_id`,
        `reloan`,
        `user_type`,
        `order_model_group`,
        `remittance_distribution_group`,
        `repayment_distribution_group`,
        `stages`,
        `stages_day`,
        `processing_fee_proportion`,
        `interest`,
        `penalty_interest`,
        `status`,
        `type`,
        `approval_amount`,
        `actual_amount`,
        `incidental_amount`,
        `estimated_repayment_amount`,
        `actual_repayment_amount`,
        `app_name`,
        `app_version`,
        `apply_time`,
        `examine_pass_time`,
        `loan_time`,
        `arrival_time`,
        `update_time`,
        `create_time`
        ) VALUES (
        #{loanOrderEntity.id},
        #{loanOrderEntity.userId},
        #{loanOrderEntity.productId},
        #{loanOrderEntity.bankCardId},
        #{loanOrderEntity.userChannelId},
        #{loanOrderEntity.reloan},
        #{loanOrderEntity.userType},
        #{loanOrderEntity.orderModelGroup},
        #{loanOrderEntity.remittanceDistributionGroup},
        #{loanOrderEntity.repaymentDistributionGroup},
        #{loanOrderEntity.stages},
        #{loanOrderEntity.stagesDay},
        #{loanOrderEntity.processingFeeProportion},
        #{loanOrderEntity.interest},
        #{loanOrderEntity.penaltyInterest},
        #{loanOrderEntity.status},
        #{loanOrderEntity.type},
        #{loanOrderEntity.approvalAmount},
        #{loanOrderEntity.actualAmount},
        #{loanOrderEntity.incidentalAmount},
        #{loanOrderEntity.estimatedRepaymentAmount},
        #{loanOrderEntity.actualRepaymentAmount},
        #{loanOrderEntity.appName},
        #{loanOrderEntity.appVersion},
        #{loanOrderEntity.applyTime},
        #{loanOrderEntity.examinePassTime},
        #{loanOrderEntity.loanTime},
        #{loanOrderEntity.arrivalTime},
        #{loanOrderEntity.updateTime},
        #{loanOrderEntity.createTime}
        );
    </insert>
    <update id="updateOrderStatus">
        UPDATE loan_order SET status=#{status},update_time=#{updateTime} WHERE id=#{orderId}
    </update>
    <update id="updateOrderProductId">
        UPDATE loan_order SET product_id=#{productId},update_time=#{updateTime} WHERE id=#{orderId}
    </update>
    <update id="updateOrderApprovalAmount">
        UPDATE loan_order SET approval_amount=#{approvalAmount},update_time=#{updateTime} WHERE id=#{orderId}
    </update>
    <update id="updateOrderUserType">
        UPDATE loan_order SET user_type=#{userType},update_time=#{updateTime} WHERE id=#{orderId}
    </update>
    <update id="updateOrderReloan">
        UPDATE loan_order SET reloan=#{reloan},update_time=#{updateTime} WHERE id=#{orderId}
    </update>
    <update id="updateOrderExaminePassTime">
        UPDATE loan_order SET examine_pass_time=#{examinePassTime},update_time=#{updateTime} WHERE id=#{orderId}
    </update>
    <update id="updateOrderActualAmount">
        UPDATE loan_order SET actual_amount=#{actualAmount},update_time=#{updateTime} WHERE id=#{orderId}
    </update>
    <update id="updateOrderLoanTime">
        UPDATE loan_order SET loan_time=#{loanTime},update_time=#{updateTime} WHERE id=#{orderId}
    </update>
    <update id="updateOrderArrivalTime">
        UPDATE loan_order SET arrival_time=#{arrivalTime},update_time=#{updateTime} WHERE id=#{orderId}
    </update>
    <update id="updateOrderEstimatedRepaymentAmount">
        UPDATE loan_order SET estimated_repayment_amount=#{estimatedRepaymentAmount},update_time=#{updateTime} WHERE
        id=#{orderId}
    </update>
    <update id="updateOrderActualRepaymentAmount">
        UPDATE loan_order SET actual_repayment_amount=#{actualRepaymentAmount},update_time=#{updateTime} WHERE
        id=#{orderId}
    </update>
    <update id="updateOrderIncidentalAmount">
        UPDATE loan_order SET incidental_amount=#{incidentalAmount},update_time=#{updateTime} WHERE id=#{orderId}
    </update>
    <update id="updateLoanTime">
        UPDATE loan_order SET loan_time=#{loanTime},update_time=#{updateTime} WHERE id=#{orderId}
    </update>
    <update id="updateOrderRepaymentDistributionGroup">
        UPDATE loan_order SET repayment_distribution_group=#{repaymentDistributionGroup},update_time=#{updateTime} WHERE
        id=#{orderId}
    </update>
    <update id="updateBankCardId">
        UPDATE loan_order SET bank_card_id=#{remittanceAccountId},update_time=#{updateTime} WHERE id=#{orderId}
    </update>
    <update id="updateOrderApplyTime">
        UPDATE loan_order SET apply_time=#{applyTime},update_time=#{updateTime} WHERE id=#{orderId}
    </update>
    <select id="findOrder" resultType="com.epoch.loan.workshop.common.entity.mysql.LoanOrderEntity">
        SELECT * FROM loan_order WHERE id=#{orderId}
    </select>
    <select id="findOrderCountByAppNameAndUserIdAndStatus" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM loan_order WHERE user_id=#{userId} AND app_name=#{appName} AND status=#{status}
    </select>
    <select id="findRemittanceDistributionGroupById" resultType="java.lang.String">
        SELECT remittance_distribution_group FROM loan_order WHERE id = #{orderId}
    </select>
    <select id="findOrderByStatus" resultType="com.epoch.loan.workshop.common.entity.mysql.LoanOrderEntity">
        SELECT * FROM loan_order status=#{status}
    </select>
    <select id="findLastUserRemittanceSuccessOrder"
            resultType="com.epoch.loan.workshop.common.entity.mysql.LoanOrderEntity">
        SELECT
        *
        FROM
        loan_order
        WHERE
        `status` >= 80
        AND user_id = #{userId}
        ORDER BY
        create_time DESC
    </select>
    <select id="findOrderByUserAndProductIdAndStatus"
            resultType="com.epoch.loan.workshop.common.entity.mysql.LoanOrderEntity">
        SELECT
        *
        FROM
        loan_order
        WHERE
        user_id = #{userId}
        AND
        product_id=#{productId}
        AND
        status in
        <foreach collection="status" item="sts" index="index" open="(" close=")" separator=",">
            #{sts}
        </foreach>
    </select>
    <select id="countUserOrderByAppInStatus" resultType="java.lang.Integer">
        SELECT count(1) from loan_order WHERE app_name = #{appName} And user_id = #{userId}
        <foreach collection="array" item="statu" index="index" open="AND status IN(" close=")" separator=",">#{statu}</foreach>
    </select>
    <select id="countUserOrderByProductAndAppInStatus" resultType="java.lang.Integer">
        SELECT count(1) from loan_order WHERE app_name = #{appName} And user_id = #{userId} And product_id = #{productId}
        <foreach collection="array" item="statu" index="index" open="AND status IN(" close=")" separator=",">#{statu}</foreach>
    </select>
    <select id="countProcessOrderNo" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM loan_order WHERE status &gt;= 70 AND status &lt; 100
        <if test="appName != null and appName != ''">
            AND app_name = #{appName}
        </if>
    </select>
    <select id="findUserBetweenSpecificStatusOrderNum" resultType="java.lang.Integer">
        Select  * from loan_order where user_id = #{userId}
        <if test="end != null and end != ''">
            and status &lt;= #{end}
        </if>
        <if test="appName != null and appName != ''">
            and status &gt;= #{start}
        </if>
    </select>
</mapper>