<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.epoch.loan.workshop.common.dao.mysql.LoanUserDao">
    <insert id="insert">
        INSERT INTO `loan_user` (
        `id`,
        `android_id`,
        `channel_id`,
        `ga_id`,
        `imei`,
        `platform`,
        `login_name`,
        `password`,
        `app_name`,
        `app_version`,
        `update_time`,
        `create_time`)
        VALUES (
        #{loanUserEntity.id},
        #{loanUserEntity.androidId},
        #{loanUserEntity.channelId},
        #{loanUserEntity.gaId},
        #{loanUserEntity.imei},
        #{loanUserEntity.platform},
        #{loanUserEntity.loginName},
        #{loanUserEntity.password},
        #{loanUserEntity.appName},
        #{loanUserEntity.appVersion},
        #{loanUserEntity.updateTime},
        #{loanUserEntity.createTime}
        )
    </insert>
    <select id="exitByAppNameAndLoginName" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM `loan_user` WHERE login_name = #{loginName} AND app_name = #{appName}
    </select>
    <select id="findByLoginNameAndAppName"
            resultType="com.epoch.loan.workshop.common.entity.mysql.LoanUserEntity">
        SELECT * FROM `loan_user` WHERE login_name = #{loginName} AND app_name = #{appName}
    </select>
    <select id="findById" resultType="com.epoch.loan.workshop.common.entity.mysql.LoanUserEntity">
        SELECT * FROM `loan_user` WHERE id = #{id}
    </select>
    <select id="exitByAppNameAndAndroidId" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM `loan_user` WHERE android_id = #{androidId} AND app_name = #{appName}
    </select>
    <update id="updateAppVersion">
        UPDATE `loan_user` set app_version = #{appVersion} WHERE id = #{id}
    </update>
    <update id="updatePassword">
        UPDATE `loan_user` set password = #{newPassword} WHERE id = #{id}
    </update>
    <select id="findByAppNameAndGaId" resultType="com.epoch.loan.workshop.common.entity.mysql.LoanUserEntity">
        SELECT * FROM `loan_user` WHERE ga_id = #{gaId} AND app_name = #{appName}
    </select>
    <select id="findByGaId" resultType="com.epoch.loan.workshop.common.entity.mysql.LoanUserEntity">
        SELECT * FROM `loan_user` WHERE ga_id = #{gaId} and (channel_id = 1 or channel_id is null) order by create_time DESC LIMIT 1
    </select>
    <update id="updateAfId">
        UPDATE `loan_user` set af_id = #{afId},update_time=#{updateTime} WHERE id = #{id}
    </update>
    <update id="updateChannelId">
        UPDATE `loan_user` set channel_id = #{channelId},update_time=#{updateTime} WHERE id = #{id}
    </update>
</mapper>