<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.epoch.loan.workshop.common.dao.mysql.LoanUserInfoDao">

    <insert id="insert">
        INSERT INTO `loan_user_info` (`id`, `user_id`, `mobile`, `gps`, `gps_address`, `register_gps`,
        `register_address`, `ip`, `ip_address`, `contacts`, `monthly_income`,
        `pay_period`, `occupation`, `pay_method`, `email`, `education`, `marital`,
        `children_number`, `loan_purpose`, `live_type`, `papers_address`,
        `papers_father_name`, `papers_full_name`, `papers_mother_name`,
        `papers_id`, `papers_name`, `papers_voter_id`, `update_time`,
        `create_time`)
        VALUES (#{loanUserInfoEntity.id},
        #{loanUserInfoEntity.userId},
        #{loanUserInfoEntity.mobile},
        #{loanUserInfoEntity.gps},
        #{loanUserInfoEntity.gpsAddress},
        #{loanUserInfoEntity.registerGps},
        #{loanUserInfoEntity.registerAddress},
        #{loanUserInfoEntity.ip},
        #{loanUserInfoEntity.ipAddress},
        #{loanUserInfoEntity.contacts},
        #{loanUserInfoEntity.monthlyIncome},
        #{loanUserInfoEntity.payPeriod},
        #{loanUserInfoEntity.occupation},
        #{loanUserInfoEntity.payMethod},
        #{loanUserInfoEntity.email},
        #{loanUserInfoEntity.education},
        #{loanUserInfoEntity.marital},
        #{loanUserInfoEntity.childrenNumber},
        #{loanUserInfoEntity.loanPurpose},
        #{loanUserInfoEntity.liveType},
        #{loanUserInfoEntity.papersAddress},
        #{loanUserInfoEntity.papersFatherName},
        #{loanUserInfoEntity.papersFullName},
        #{loanUserInfoEntity.papersMotherName},
        #{loanUserInfoEntity.papersId},
        #{loanUserInfoEntity.papersName},
        #{loanUserInfoEntity.papersVoterId},
        #{loanUserInfoEntity.updateTime},
        #{loanUserInfoEntity.createTime}
        )
    </insert>
    <select id="findUserInfoById" resultType="com.epoch.loan.workshop.common.entity.mysql.LoanUserInfoEntity">
        SELECT * FROM loan_user_info where user_id = #{userId}
    </select>
    <update id="update">
        UPDATE loan_user_info set
        `user_id` = #{loanUserInfoEntity.userId},
        `mobile` = #{loanUserInfoEntity.mobile},
        `gps` = #{loanUserInfoEntity.gps},
        `gps_address` = #{loanUserInfoEntity.gpsAddress},
        `register_gps` = #{loanUserInfoEntity.registerGps},
        `register_address` = #{loanUserInfoEntity.registerAddress},
        `ip` = #{loanUserInfoEntity.ip},
        `ip_address` = #{loanUserInfoEntity.ipAddress},
        `contacts` = #{loanUserInfoEntity.contacts},
        `monthly_income` = #{loanUserInfoEntity.monthlyIncome},
        `pay_period` = #{loanUserInfoEntity.payPeriod},
        `occupation` = #{loanUserInfoEntity.occupation},
        `pay_method` = #{loanUserInfoEntity.payMethod},
        `email` = #{loanUserInfoEntity.email},
        `education` = #{loanUserInfoEntity.education},
        `marital` = #{loanUserInfoEntity.marital},
        `children_number` = #{loanUserInfoEntity.childrenNumber},
        `loan_purpose` = #{loanUserInfoEntity.loanPurpose},
        `live_type` = #{loanUserInfoEntity.liveType},
        `papers_address` = #{loanUserInfoEntity.papersAddress},
        `papers_father_name` = #{loanUserInfoEntity.papersFatherName},
        `papers_full_name` = #{loanUserInfoEntity.papersFullName},
        `papers_mother_name` = #{loanUserInfoEntity.papersMotherName},
        `papers_id` = #{loanUserInfoEntity.papersId},
        `papers_name` = #{loanUserInfoEntity.papersName},
        `papers_voter_id` = #{loanUserInfoEntity.papersVoterId},
        `custom_father_name` = #{loanUserInfoEntity.customFatherName},
        `custom_full_name` = #{loanUserInfoEntity.customFullName},
        `custom_mother_name` = #{loanUserInfoEntity.customMotherName},
        `custom_name` = #{loanUserInfoEntity.customName},
        `update_time` = #{loanUserInfoEntity.updateTime}
        where id = #{loanUserInfoEntity.id}
    </update>
</mapper>