<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.epoch.loan.workshop.common.dao.mysql.LoanOrderExamineDao">
    <insert id="insertOrderExamine">
        INSERT INTO
        `loan_order_examine`
        (
        `id`,
        `order_id`,
        `user_id`,
        `model_name`,
        `status`,
        `request`,
        `response`,
        `update_time`,
        `create_time`
        ) VALUES (
        #{loanOrderExamineEntity.id},
        #{loanOrderExamineEntity.orderId},
        #{loanOrderExamineEntity.userId},
        #{loanOrderExamineEntity.modelName},
        #{loanOrderExamineEntity.status},
        #{loanOrderExamineEntity.request},
        #{loanOrderExamineEntity.response},
        #{loanOrderExamineEntity.updateTime},
        #{loanOrderExamineEntity.createTime}
        );
    </insert>

    <update id="updateOrderExamineRequestByOrderId">
        UPDATE
        loan_order_examine
        SET
        request=#{request},
        update_time=#{updateTime}
        WHERE
        order_id=#{orderId}
        AND
        model_name=#{modelName}
    </update>
    <update id="updateOrderExamineResponseByOrderId">
        UPDATE
        loan_order_examine
        SET
        response=#{response},
        update_time=#{updateTime}
        WHERE
        order_id=#{orderId}
        AND
        model_name=#{modelName}
    </update>
    <update id="updateOrderExamineStatusByOrderId">
        UPDATE
        loan_order_examine
        SET
        status=#{status}
        WHERE
        order_id=#{orderId},
        update_time=#{updateTime}
        AND
        model_name=#{modelName}
    </update>
    <update id="updateOrderExamineRequestById">
        UPDATE
        loan_order_examine
        SET
        request=#{request},
        update_time=#{updateTime}
        WHERE
        id=#{id}
    </update>
    <update id="updateOrderExamineResponseById">
        UPDATE
        loan_order_examine
        SET
        response=#{response},
        update_time=#{updateTime}
        WHERE
        id=#{id}
    </update>
    <update id="updateOrderExamineStatusById">
        UPDATE
        loan_order_examine
        SET
        status=#{status},
        update_time=#{updateTime}
        WHERE
        id=#{id}
    </update>
    <select id="findOrderExamineStatus" resultType="java.lang.Integer">
        SELECT status FROM loan_order_examine WHERE order_id=#{orderId} AND model_name=#{modelName}
    </select>
    <select id="findByModelNameAndStatusBeforTime"
            resultType="com.epoch.loan.workshop.common.entity.mysql.LoanOrderExamineEntity">
        SELECT *
        FROM loan_order_examine
        WHERE model_name = #{modelName}
        AND status = #{status}
        AND update_time &lt; #{datePoint}
    </select>
    <select id="findByModelNameAndOrderId"
            resultType="com.epoch.loan.workshop.common.entity.mysql.LoanOrderExamineEntity">
        SELECT * FROM loan_order_examine WHERE order_id=#{orderId} AND model_name=#{modelName}
    </select>
</mapper>