<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.epoch.loan.workshop.common.dao.mysql.LoanRemittanceAccountDao">
    <insert id="addRemittanceAccount">

    </insert>

    <select id="findUserRemittanceAccountList"
            resultType="com.epoch.loan.workshop.common.entity.mysql.LoanRemittanceAccountEntity">
        SELECT * FROM loan_remittance_account WHERE user_id=#{userId}
    </select>
    <select id="findRemittanceAccount"
            resultType="com.epoch.loan.workshop.common.entity.mysql.LoanRemittanceAccountEntity">
        SELECT * FROM loan_remittance_account WHERE id=#{id}
    </select>
    <select id="findUserRemittanceAccountCount" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM loan_remittance_account WHERE user_id=#{userId}
    </select>
</mapper>