<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.epoch.loan.workshop.common.dao.mysql.PlatformChannelDao">

    <select id="findChannel" resultType="com.epoch.loan.workshop.common.entity.mysql.PlatformChannelEntity">
        SELECT * FROM platform_channel WHERE id=#{id}
    </select>
</mapper>