<?xml version="1.0" encoding="UTF-8"?>

<!-- status=debug 可以查看log4j的装配过程;monitorInterval自动重新加载的间隔 s -->
<configuration monitorInterval="1800" status="off">
    <properties>
        <!-- 日志存储路径 -->
        <property name="LOG_HOME">${sys:log.path}</property>
        <property name="LOG_BACKUP">${sys:log.path}/back</property>
    </properties>

    <!-- 定义公共属性 -->
    <appenders>
        <!-- 控制台输出 -->
        <Console follow="true" name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n"/>
        </Console>

        <!-- 守护线程日志 -->
        <RollingRandomAccessFile fileName="${LOG_HOME}/daemon.log" filePattern="${LOG_BACKUP}/system.%d{yyyyMMdd}.log"
                                 name="DaemonLog">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <!-- 系统日志 -->
        <RollingRandomAccessFile fileName="${LOG_HOME}/system.log" filePattern="${LOG_BACKUP}/system.%d{yyyyMMdd}.log"
                                 name="SystemLog">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <!-- 请求访问日志 -->
        <RollingRandomAccessFile fileName="${LOG_HOME}/request.log" filePattern="${LOG_BACKUP}/request.%d{yyyyMMdd}.log"
                                 name="RequestLog">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingRandomAccessFile>


        <!-- 长连接日志 -->
        <RollingRandomAccessFile fileName="${LOG_HOME}/sc.log" filePattern="${LOG_BACKUP}/sc.%d{yyyyMMdd}.log"
                                 name="ScLog">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <!-- 实时耗时日志 -->
        <RollingRandomAccessFile fileName="${LOG_HOME}/scTime.log" filePattern="${LOG_BACKUP}/scTime.%d{yyyyMMdd}.log"
                                 name="ScTimeLog">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingRandomAccessFile>
    </appenders>

    <loggers>
        <!-- system logger (同步)-->
        <logger additivity="true" level="info" name="EPOCH_SYS">
            <appender-ref ref="SystemLog"/>
        </logger>

        <!-- request logger (异步)-->
        <AsyncLogger additivity="false" includeLocation="true" level="info" name="EPOCH_REQ">
            <appender-ref ref="RequestLog"/>
        </AsyncLogger>

        <!-- sc logger (异步)-->
        <AsyncLogger additivity="false" includeLocation="true" level="info" name="EPOCH_SC">
            <appender-ref ref="ScLog"/>
        </AsyncLogger>

        <!-- scTime logger (异步)-->
        <AsyncLogger additivity="false" includeLocation="true" level="info" name="EPOCH_SC_TIME">
            <appender-ref ref="ScTimeLog"/>
        </AsyncLogger>

        <!-- daemon logger (异步)-->
        <AsyncLogger additivity="false" includeLocation="true" level="info" name="EPOCH_DAE">
            <appender-ref ref="DaemonLog"/>
        </AsyncLogger>

        <!-- Root Logger -->
        <root level="info">
            <appender-ref ref="Console"/>
            <appender-ref ref="SystemLog"/>
        </root>
    </loggers>

</configuration>
